.biblio{

    margin-top: 10%;
}

.choix1{

    background-color:yellow;
color:black;
font-family:fantasy;

}
.choix2{

    background-color: white;
}

.menuselect{


    margin-left: 20%;
    margin-right: 40%;
}
#sel1{
    margin-right: 40%;


}


